* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: black;

    main {
        margin: 25px;
    }
}

section {
    height: 30rem;
    margin: 50px 0;
}

.div-row {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    div {
        width: 50%;

        .titu {
            padding: 15px;
            font-size: 20px;
            font-weight: 100;
            border: 1px solid;
            border-radius: 50px;
            width: max-content;
        }
    }
}

hr {

    width: 34%;
}

h1,
h2,
h3,
ul,
a,
p {
    color: white;
}

li {
    color: grey;
}

// p {
//     font-size: 24px;
// }

h1,
h2,
h3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Literata', serif;
    font-size: 75px;
}


video,img {
    border-radius: 5px;
    width: 200px;
    // width: 105px;
}

a {
    text-decoration: underline;

    // background-image: linear-gradient(white, grey);
    // background-position: 0% 100%;
    // background-repeat: no-repeat;
    // background-size: 0% 2px;
    transition: background-size .3s;

    svg {
        padding-right: 10px;
    }
}

header {
    position: sticky;
    top: 0;

    background-color: black;

    nav ul {
        padding: 2%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: grey;
            opacity: 0.8;

        }
    }
}

.ovalo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    ov1 {
        display: inherit;
        justify-content: center;

    }

}

.div-2 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    
}

.link-costado {
    display: flex;
    justify-content: flex-end;

}

.tam-24 {
    font-size: 24px;
}

.margen {
    margin: 60px 0;
}

#proy{
    .div-row{
        .div-2{
            img{
                min-height: 1.737 em;
            }
        }
    }
}

.img-seccion{
    border-radius: 5px;
    max-width: 50%;
}
.img-muestra{
    max-width: 100%;
    height: auto;
}